<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments:: page_head"/>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar :: navbar"></div>

    <div>
        <h2>Manger Users</h2>
        <a th:href="@{/users/new}">Create New User</a>
    </div>

    <div class="alert alert-success text-center" th:if="${message!=null}">
        [[${message}]]
    </div>
    <div class="alert alert-warning text-center" th:if="${errMessage!=null}">
        [[${errMessage}]]
    </div>
    <div>
        <table class="table full-width table-bordered table-striped table-hover table-responsive-xl">
            <thead class="thead-dark">
            <tr>
                <th class="text-center">
                    User ID
                </th>
                <th class="text-center">
                    Photos
                </th>
                <th class="text-center">
                    Email
                </th>
                <th class="text-center">
                    First Name
                </th>
                <th class="text-center">
                    Last Name
                </th>
                <th class="text-center">
                    Roles
                </th>
                <th class="text-center">
                    Enabled
                </th>
                <th class="text-center">
                    Action
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${listUsers}">
                <td class="text-center">[[${user.id}]]</td>
                <td class="text-center"><span class="fas fa-portrait fa-3x icon-dark"></span></td>
                <td class="text-center">[[${user.email}]]</td>
                <td class="text-center">[[${user.firstName}]]</td>
                <td class="text-center">[[${user.lastName}]]</td>
                <td class="text-center">[[${user.roles}]]</td>
                <td class="text-center">
                    <div th:if="${user.enabled==true}">
                        <a class="fas fa-2x fa-check-circle icon-green" href=""></a>
                    </div>
                    <div th:if="${user.enabled==false}">
                        <a class="fas fa-2x fa-times-circle icon-dark" href=""></a>
                    </div>
                </td>
                <td class="text-center">
                    <a class="fas fa-edit fa-2x icon-dark icon-deepskyblue-hover" th:href="@{'/users/edit/'+${user.id}}"
                       title="Edit this user"></a>
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <button style="padding: 0;border: none;background: none;" class="fas fa-trash fa-2x icon-dark icon-red-hover" th:onclick="|showConfirmModal('@{'/users/delete/' + ${user.id} + '\', \'' + ${user.email}}')|"
                       title="Delete this user"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="modal fade text-left" id="confirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Confirmation</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <span id="confirmText"></span>
                </div>

                <div class="modal-footer">
                    <a class="btn btn-success" href="" id="yesButton">Yes</a>
                    <button onClick="window.location.reload();" class="btn btn-danger" data-dismiss="modal">No</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments/fragments:: page_footer"></div>
</div>
<script type="text/javascript">
    function showConfirmModal(deleteUrl, userEmail) {
        $("#yesButton").attr("href", deleteUrl);
        $("#confirmText").text("Are you sure to delete this user with email " + userEmail + "?");
        $("#confirmModal").modal();
    }
</script>
</body>
</html>
